.cont{behavior:url(js/PIE.htc);-pie-background:rgba(184,199,210,0.849395);}
.cont-8{behavior:url(js/PIE.htc);-pie-background:rgba(94,115,129,0.875078);}
.cont-23{behavior:url(js/PIE.htc);-pie-background:rgba(64,83,96,0.879277);}
.cont-32{behavior:url(js/PIE.htc);-pie-background:rgba(156,179,193,0.826113);}
.cont-37{behavior:url(js/PIE.htc);-pie-background:rgba(183,213,236,0.68752);}
