* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
}
body {
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}



#timeline a{
    text-decoration: none;
}

#head {
    height: 45px;
    background-color: #ffffff;
    overflow: auto;
}

#name {
    margin-top: 0px;
    text-align: left;
}



#story {
    background-color: rgba(220, 220, 220);
    margin: 10px;
}

#art {
    background-color: rgba(220, 220, 220);
    margin: 10px;
}

#game {
    background-color: rgb(220, 220, 220);
    margin: 10px;
}



